.text-center{
    color: hwb(271 50% 25%);
    font-size: 4rem;
    margin-bottom: 2rem;
}
.parrafo1{
    margin-bottom: 3rem;
    color: blueviolet;
    font-size: 1.5rem;
}
.color-boton{
    background-color: blueviolet;
    color: white;
}
.row{
    justify-content: space-between;
}
.card{
    background-color: rgba(209, 197, 222, 0.642);
}
.navbar{
    background-color: #a474d0;
    font-weight: bold;
}
.footer{
    background-color: #a474d0;
    margin-top: 65rem;
}
.footer ul li a{
    color: white;
    font-weight: bold;
}
.btn{
    background-color: #c99bd4;
    color: black;
}
.btn:hover{
    background-color: rgb(164, 100, 157);
}
.text-center2{
    color: hwb(271 50% 25%);
    font-size: 3rem;
    margin-bottom: 1rem;
}
.titulo{
    color: #a474d0;
    text-align: center;
    padding-top: 2rem;
}
.form-select{
    width: 25%;
    margin: 2rem;
    background-color: rgb(220, 176, 215);
    color: white;
    font-size: 1.5rem;
}
.preguntas{
    font-size: 1.4rem;
}
.preguntas li{
    color: #c99bd4;
    margin-left: 3rem;
}
.preguntas li p{
    color: black;
}