.text-center{
    color: hwb(271 50% 25%);
    font-size: 4rem;
    margin-bottom: 2rem;
}
.parrafo1{
    margin-bottom: 3rem;
    color: blueviolet;
    font-size: 1.5rem;
}
.color-boton{
    background-color: blueviolet;
    color: white;
}
.row{
    justify-content: space-between;
}
.card{
    background-color: rgba(209, 197, 222, 0.642);
}
.navbar{
    background-color: #a474d0;
    font-weight: bold;
}
.footer{
    background-color: #a474d0;
}
.footer ul li a{
    color: white;
    font-weight: bold;
}
.btn{
    background-color: #c99bd4;
    color: black;
}
.btn:hover{
    background-color: rgb(164, 100, 157);
}